.rawezh_box {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  margin-top: -100px;
}

.rawezh_img {
  width: 60%;
}

.rawezh_box p {
  width: 38%;
  font-size: 30px;
}

.rawezh_head {
  margin-top: 100px;
  font-size: 130px;
  text-align: center;
  font-weight: 800;
  background: -webkit-linear-gradient(rgb(46, 84, 255), rgb(154, 155, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1165px) {
  .rawezh_box {
    display: block;
    text-align: center;
  }
  .rawezh_img {
    width: 100%;
  }
  .rawezh_img img {
    border-radius: 25px;
  }
  .rawezh_box p {
    width: 100%;
  }
  .rawezh_head {
    margin-top: 0px;
  }
}
@media screen and (max-width: 650px) {
  .rawezh_head {
    font-size: 100px;
  }
}

@media screen and (max-width: 470px) {
  .rawezh_head {
    font-size: 80px;
  }
}
